<!-- style="visibility: hidden;" -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Employee Management</a>
    <div id="logout">
      <div class="d-flex">
        <a routerLink="/login" class="nav-link" ariaCurrentWhenActive="page">
          <span class="material-symbols-outlined"> logout </span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
