<div class="d-flex justify-content-between">
  <h3>Emloyee List</h3>
  <button
    type="button"
    routerLink="/employee/add"
    class="btn btn-primary d-flex"
  >
    <span class="material-symbols-outlined"> add </span>
    Add Employee
  </button>
</div>
<hr />
<div class="row g-2">
  <div class="col-md-2">
    <div class="mb-3 d-flex gap-2">
      <div class="col-form-label">Show</div>
      <select
        [(ngModel)]="itemsPerPage"
        class="form-select form-control-sm"
        style="width: 70px;"
        (change)="changeItemsPerPage($event)"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      <div class="col-form-label">entries</div>
    </div>
  </div>
  <div class="col-md-10 mt-2 text-end d-flex gap-2 justify-content-end">
    <div class="col-md-auto col-sm-12">
      <label for="username" class="visually-hidden">Email</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Search by username"
        [(ngModel)]="searchByUsername"
      />
    </div>
    <div class="col-md-auto col-sm-12">
      <label for="firstname" class="visually-hidden">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        placeholder="Search by first name"
        [(ngModel)]="searchByFirstName"
      />
    </div>
    <div class="col-md-auto col-sm-12">
      <button (click)="searchEmployee()" class="btn btn-primary mb-3">
        Search
      </button>
    </div>
    <div
      class="col-md-auto col-sm-12"
      *ngIf="searchByFirstName !== '' || searchByUsername !== ''"
    >
      <button (click)="clearSearch()" class="btn btn-danger mb-3">Clear</button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="table-primary">
        <th
          *ngFor="let head of tableHeader"
          scope="col"
          (click)="sortData(head.value)"
          class="pointer"
        >
          <div class="d-flex justify-content-between">
            {{ head.label }}
            <span
              class="material-symbols-outlined {{
                sortValue === head.value ? 'text-primary' : 'text-secondary'
              }}"
            >
              unfold_more
            </span>
          </div>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="allEmployee.length >= 1; else noData">
      <tr *ngFor="let employee of allEmployee | paginate : paginationConfig">
        <td>{{ employee.username }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td class="text-center w100px">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-primary"
              (click)="goToDetail(employee)"
            >
              <span class="material-symbols-outlined"> visibility </span>
            </button>
            <button
              type="button"
              (click)="edit()"
              class="btn btn-warning text-dark"
            >
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button type="button" (click)="deleteBtn()" class="btn btn-danger">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tbody>
        <tr>
          <td colspan="4" class="text-center">No Data</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>

<div class=" text-end">
  <pagination-controls
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
